@font-face {
    font-family: "Neumann";
    src: url("../fonts/td-neumann.eot"); /* IE9 Compat Modes */
    src: url("../fonts/td-neumann.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../fonts/td-neumann.ttf") format("truetype"), /* Safari, Android, iOS */
      url("../fonts/td-neumann.woff") format("woff"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }

@font-face {
  font-family: 'Panton Regular';
  src: url('../fonts/Patron/Panton-Regular.eot');
  src: url('../fonts/Patron/Panton-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Patron/Panton-Regular.woff') format('woff'),
  url('../fonts/Patron/Panton-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }

@font-face {
  font-family: 'Panton ExtraBold';
  src: url('../fonts/Patron/Panton-ExtraBold.eot');
  src: url('../fonts/Patron/Panton-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Patron/Panton-ExtraBold.woff') format('woff'),
  url('../fonts/Patron/Panton-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }

@mixin normal {
  font-family: "Neumann", sans-serif;
}

@mixin bold {
  font-family: 'Panton ExtraBold', sans-serif;
}

@mixin regular {
  font-family: 'Panton Regular', sans-serif;
}